EcuSourceCode/DDT2000 dec 2023/DDT2000data/zipper/softs/applications.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="XMLSchema1" targetNamespace="http://www-diag.renault.fr/PAD/applications" elementFormDefault="qualified"
	xmlns="http://www-diag.renault.fr/PAD/applications" xmlns:mstns="http://www-diag.renault.fr/PAD/applications"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="applications">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="description" type="xs:string" />
				<xs:choice>
					<xs:element ref="applications" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="application" minOccurs="1" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="description" type="xs:string" maxOccurs="1" minOccurs="1" />
								<xs:element name="file" type="xs:string" maxOccurs="1" minOccurs="1" />
								<xs:element name="addressing" type="xs:string" minOccurs="0" maxOccurs="1" />
								<xs:element name="blockSize" type="xs:int" maxOccurs="1" minOccurs="0" />
								<xs:element name="mapping" maxOccurs="1" minOccurs="0" type="mapping" />
							</xs:sequence>
							<xs:attribute name="name" type="appName" use="required" />
							<xs:attribute name="canspeed" type="xs:int" use="optional" default="0" />
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:complexType name="mapping">
		<xs:sequence>
			<xs:element name="segment" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="use" type="xs:string" use="required" />
					<xs:attribute name="at" type="xs:int" use="required" />
					<xs:attribute name="count" type="xs:int" use="required" />
					<xs:attribute name="check" type="xs:boolean" use="optional" default="false"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="appName">
		<xs:restriction base="xs:string">
			<xs:maxLength value="31"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>