EcuSourceCode/DDT2000 dec 2023/DDT2000data/OdxSpecFiles/SFT_Tools/AllianceLabelEditor/Library/XsdFiles/BaseLabelOffLine_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
  <!-- Revision History
        Current version: 1.0
    *==============================================================================*
    |    DATE    | VERSION  |  COMMENTS                                            |
    *==============================================================================*
    | 2021/08/24 |    1.0   | First release.                                       |
    *____________*__________*______________________________________________________*
    | yyyy/mm/dd |   x.y    |                                                      |
    *==============================================================================*
        
  -->        
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LABELS-DATABASE">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LABELS-TABLE" type="LabelsTableType" minOccurs="1" maxOccurs="1"/>
        <xs:element name="ECUS-TABLE" type="EcusTableType" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="Date" type="xs:dateTime" use="required"/>
      <xs:attribute name="XsdVersion" type="notEmptyAttribute" use="required"/>
    </xs:complexType>
  </xs:element>
  
  
  <!-- LabelsTable --> 
  <xs:complexType name="LabelsTableType">
    <xs:sequence>
      <xs:element name="LABEL" type="LabelType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Label -->
  <xs:complexType name="LabelType">
    <xs:attribute name="LabelID" type="notEmptyAttribute" use="required"/>
    <xs:attribute name="FreeText" type="notEmptyAttribute" use="required"/>
    <xs:attribute name="RessourceType" type="notEmptyAttribute" use="required"/>
    <xs:attribute name="LabelName" type="notEmptyAttribute" use="required"/>
    <xs:attribute name="ECU" type="notEmptyAttribute" use="required"/>
  </xs:complexType>

  <!-- EcusTable -->
  <xs:complexType name="EcusTableType">
    <xs:sequence>
      <xs:element name="ECU" type="EcuType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Ecu --> 
  <xs:complexType name="EcuType">
    <xs:attribute name="Name" type="notEmptyAttribute" use="required"/>
  </xs:complexType>

  <!-- **************** -->
  <!-- **** UNIONS **** -->
  <!-- **************** -->
    <!-- ++ Not empty string ++ -->
  <xs:simpleType name="notEmptyAttribute">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
