EcuSourceCode/DDT2000 dec 2023/DDT2000data/OdxSpecFiles/SFT_Tools/AllianceLabel/AllianceLabel_30.7.2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LabelsFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ADMIN-DATA" type="AdminDataType" minOccurs="1" maxOccurs="1"/>
        <xs:element name="Labels" type="LabelsType" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="ecuID" type="xs:string" use="optional"/>
      <xs:attribute name="familyName" type="xs:string" use="optional"/>
      <xs:attribute name="protocolID" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <!-- ********** -->
  <!-- ADMIN-DATA -->
  <!-- ********** -->
  <xs:complexType name="AdminDataType">
    <xs:sequence>
      <xs:element name="LANGUAGE" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="DOC-REVISIONS" type="DocRevisionsType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <!-- DOC-REVISIONS -->
  <xs:complexType name="DocRevisionsType">
    <xs:sequence>
      <xs:element name="DOC-REVISION" type="DocRevisionType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocRevisionType">
    <xs:sequence>
      <xs:element name="REVISIONS-SFT" type="RevisionsSftType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="REVISION-LABEL" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="REVISION-LABEL-CREATOR" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="REVISION-LABEL-MERGER" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="REVISION-MERGER-TOOL" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="STATE" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="DATE" type="DateTimeOrEmpty" minOccurs="1" maxOccurs="1"/>
      <xs:element name="TOOL" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="MERGER_TOOL" type="xs:string" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <!-- REVISIONS-SFT -->
  <xs:complexType name="RevisionsSftType">
    <xs:sequence>
      <xs:element name="REVISION-SFT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <!-- ********************** -->
  <!-- **** Labels types **** -->
  <!-- ********************** -->
  <xs:complexType name="LabelsType">
    <xs:sequence>
      <xs:element name="Readable" type="ReadableType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Writable" type="WritableType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IOControl" type="IoControlType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Routine" type="RoutineType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Scripts" type="ScriptsType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Snapshot" type="SnapshotType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Extended" type="ExtendedType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Fault" type="FaultType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Request" minOccurs="0" maxOccurs="1"/>
      <xs:element name="DCAL" type="DcalType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="DataSaving" type="DataSavingType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
    <!-- Type Read -->
  <xs:complexType name="ReadableType">
    <xs:sequence>
      <xs:element name="Label" type="LabelType_Rd" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
    <!-- Type Write -->
  <xs:complexType name="WritableType">
    <xs:sequence>
      <xs:element name="Label" type="LabelType_Wt" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
    <!-- Type Io -->
  <xs:complexType name="IoControlType">
    <xs:sequence>
      <xs:element name="Label" type="LabelType_Io" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
    <!-- Type Routine -->
  <xs:complexType name="RoutineType">
    <xs:sequence>
      <xs:element name="Label" type="LabelType_Rt" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
    <!-- Type Scripts -->
  <xs:complexType name="ScriptsType">
    <xs:sequence>
      <xs:element name="Label" type="LabelType_Sc" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
    <!-- Type Snapshot -->
  <xs:complexType name="SnapshotType">
    <xs:sequence>
      <xs:element name="Label" type="LabelType_Sr" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
    <!-- Type Extended -->
  <xs:complexType name="ExtendedType">
    <xs:sequence>
      <xs:element name="Label" type="LabelType_Ex" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
    <!-- Type Fault -->
  <xs:complexType name="FaultType">
    <xs:sequence>
      <xs:element name="Label" type="LabelType_Ft" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
    <!-- Type DCAL -->
  <xs:complexType name="DcalType">
    <xs:sequence>
      <xs:element name="Label" type="LabelType_Dc" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
    <!-- Type DataSaving -->
  <xs:complexType name="DataSavingType">
    <xs:sequence>
      <xs:element name="Label" type="LabelType_Ds" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <!-- *************** -->
  <!-- **** Label **** -->
  <!-- *************** -->
    <!-- ++ Label elements ++ -->
      <!-- Label Read -->
  <xs:complexType name="LabelType_Rd">
    <xs:sequence>
      <xs:element name="Requirement" type="RequirementType_RdWtIoRtScSrExFt" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Variants" type="VariantsType_Rd" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="LabelGroup"/>
  </xs:complexType>
      <!-- Label Write -->
  <xs:complexType name="LabelType_Wt">
    <xs:sequence>
      <xs:element name="Requirement" type="RequirementType_RdWtIoRtScSrExFt" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Variants" type="VariantsType_Wt" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="LabelGroup"/>
  </xs:complexType>
      <!-- Label IO Control -->
  <xs:complexType name="LabelType_Io">
    <xs:sequence>
      <xs:element name="Requirement" type="RequirementType_RdWtIoRtScSrExFt" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Variants" type="VariantsType_Io" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="LabelGroup"/>
  </xs:complexType>
      <!-- Label Routine -->
  <xs:complexType name="LabelType_Rt">
    <xs:sequence>
      <xs:element name="Requirement" type="RequirementType_RdWtIoRtScSrExFt" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Variants" type="VariantsType_Rt" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="LabelGroup"/>
  </xs:complexType>
      <!-- Label Scripts -->
  <xs:complexType name="LabelType_Sc">
    <xs:sequence>
      <xs:element name="Requirement" type="RequirementType_RdWtIoRtScSrExFt" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Variants" type="VariantsType_Sc" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="LabelGroup"/>
  </xs:complexType>
      <!-- Label Snapshot -->
  <xs:complexType name="LabelType_Sr">
    <xs:sequence>
      <xs:element name="Requirement" type="RequirementType_RdWtIoRtScSrExFt" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Variants" type="VariantsType_Sr" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="LabelGroup"/>
  </xs:complexType>
      <!-- Label Extended -->
  <xs:complexType name="LabelType_Ex">
    <xs:sequence>
      <xs:element name="Requirement" type="RequirementType_RdWtIoRtScSrExFt" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Variants" type="VariantsType_Ex" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="LabelGroup"/>
  </xs:complexType>
      <!-- Label Fault -->
  <xs:complexType name="LabelType_Ft">
    <xs:sequence>
      <xs:element name="Requirement" type="RequirementType_RdWtIoRtScSrExFt" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Variants" type="VariantsType_Ft" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="LabelGroup"/>
  </xs:complexType>
      <!-- Label DCAL -->
  <xs:complexType name="LabelType_Dc">
    <xs:sequence>
      <xs:element name="Variants" type="VariantsType_Dc" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="LabelGroup"/>
  </xs:complexType>
      <!-- Label DataSaving -->
  <xs:complexType name="LabelType_Ds">
    <xs:sequence>
      <xs:element name="Requirement" type="RequirementType_Ds" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Variants" type="VariantsType_Ds" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="LabelGroup"/>
  </xs:complexType>
    <!-- ++ Label attributes ++ -->
  <xs:attributeGroup name="LabelGroup">
    <xs:attribute name="Name" type="xs:string" use="required"/>
    <xs:attribute name="Description" type="xs:string" use="required" />
  </xs:attributeGroup>
  <!-- ********************** -->
  <!-- **** Requirements **** -->
  <!-- ********************** -->
    <!-- ++ Requirements attributes ++ -->
  <xs:attributeGroup name="RequirementGroup_Common">
    <xs:attribute name="Name" type="xs:string" use="optional" />
    <xs:attribute name="Constraints" type="xs:string" use="optional" />
    <xs:attribute name="Conformity" type="xs:string" use="optional" />
    <xs:attribute name="Comment" type="xs:string" use="optional" />
  </xs:attributeGroup>
      <!-- Requirements Read Write Extended Snapshot Io Routine Script Fault Request DCAL --> 
  <xs:complexType name="RequirementType_RdWtIoRtScSrExFt">
    <xs:attributeGroup ref="RequirementGroup_Common" />
  </xs:complexType>
      <!-- Requirements DataSaving --> 
  <xs:complexType name="RequirementType_Ds">
    <xs:attributeGroup ref="RequirementGroup_Common" />
    <xs:attribute name="Group" type="notEmptyAttribute" use="required" />
    <xs:attribute name="Mandatory" type="xs:string" use="optional" />
  </xs:complexType>
  
  
  <!-- ****************** -->
  <!-- **** Variants **** -->
  <!-- ****************** -->
    <!-- ++ Variants elements ++ -->
      <!-- Variants Read --> 
  <xs:complexType name="VariantsType_Rd">
    <xs:sequence>
      <xs:element name="VariantLink" type="VariantLinkType_Rd" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
      <!-- Variants Write --> 
  <xs:complexType name="VariantsType_Wt">
    <xs:sequence>
      <xs:element name="VariantLink" type="VariantLinkType_Wt" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
      <!-- Variants IO Control --> 
  <xs:complexType name="VariantsType_Io">
    <xs:sequence>
      <xs:element name="VariantLink" type="VariantLinkType_Io" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
      <!-- Variants Routine --> 
  <xs:complexType name="VariantsType_Rt">
    <xs:sequence>
      <xs:element name="VariantLink" type="VariantLinkType_Rt" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
      <!-- Variants Scripts --> 
  <xs:complexType name="VariantsType_Sc">
    <xs:sequence>
      <xs:element name="VariantLink" type="VariantLinkType_Sc" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
      <!-- Variants Snapshot --> 
  <xs:complexType name="VariantsType_Sr">
    <xs:sequence>
      <xs:element name="VariantLink" type="VariantLinkType_Sr" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
      <!-- Variants Extended --> 
  <xs:complexType name="VariantsType_Ex">
    <xs:sequence>
      <xs:element name="VariantLink" type="VariantLinkType_Ex" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
      <!-- Variants Fault --> 
  <xs:complexType name="VariantsType_Ft">
    <xs:sequence>
      <xs:element name="VariantLink" type="VariantLinkType_Ft" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
      <!-- Variants DCAL --> 
  <xs:complexType name="VariantsType_Dc">
    <xs:sequence>
      <xs:element name="VariantLink" type="VariantLinkType_Dc" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
      <!-- Variants DataSaving --> 
  <xs:complexType name="VariantsType_Ds">
    <xs:sequence>
      <xs:element name="VariantLink" type="VariantLinkType_Ds" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <!-- ********************* -->
  <!-- **** VariantLink **** -->
  <!-- ********************* -->
    <!-- ++ VariantLinks elements ++ -->
      <!-- VariantLinks Read --> 
  <xs:complexType name="VariantLinkType_Rd">
    <xs:sequence>
      <xs:element name="DataLink" type="LinkType_RdWtIoRtSrEx" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref="VariantLinkGroup_RdWtIoRtSrEx"/>
  </xs:complexType>
      <!-- VariantLinks Write --> 
  <xs:complexType name="VariantLinkType_Wt">
    <xs:sequence>
      <xs:element name="DataLink" type="LinkType_RdWtIoRtSrEx" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="VariantLinkGroup_RdWtIoRtSrEx"/>
  </xs:complexType>
      <!-- VariantLinks IO Control --> 
  <xs:complexType name="VariantLinkType_Io">
    <xs:sequence>
      <xs:element name="DataLink" type="LinkType_RdWtIoRtSrEx" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="VariantLinkGroup_RdWtIoRtSrEx"/>
  </xs:complexType>
      <!-- VariantLinks Routine --> 
  <xs:complexType name="VariantLinkType_Rt">
    <xs:sequence>
      <xs:element name="DataLink" type="LinkType_RdWtIoRtSrEx" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="VariantLinkGroup_RdWtIoRtSrEx"/>
  </xs:complexType>
      <!-- VariantLinks Script  --> 
  <xs:complexType name="VariantLinkType_Sc">
    <xs:sequence>
      <xs:element name="RQLink" type="RqLinkType_Sc" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref="VariantLinkGroup_ScFtDcDs"/>
  </xs:complexType>
      <!-- VariantLinks Snapshot --> 
  <xs:complexType name="VariantLinkType_Sr">
    <xs:sequence>
      <xs:element name="DataLink" type="LinkType_RdWtIoRtSrEx" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref="VariantLinkGroup_RdWtIoRtSrEx"/>
  </xs:complexType>
      <!-- VariantLinks Extended --> 
  <xs:complexType name="VariantLinkType_Ex">
    <xs:sequence>
      <xs:element name="DataLink" type="LinkType_RdWtIoRtSrEx" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attributeGroup ref="VariantLinkGroup_RdWtIoRtSrEx"/>
  </xs:complexType>
      <!-- VariantLinks Fault  --> 
  <xs:complexType name="VariantLinkType_Ft">
    <xs:sequence>
      <xs:element name="DataLink" type="LinkType_Ft" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref="VariantLinkGroup_ScFtDcDs"/>
  </xs:complexType>
      <!-- VariantLinks DCAL --> 
  <xs:complexType name="VariantLinkType_Dc">
    <xs:sequence>
      <xs:element name="DataLink" type="LinkType_Dc" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref="VariantLinkGroup_ScFtDcDs"/>
  </xs:complexType>
      <!-- VariantLinks DataSaving --> 
  <xs:complexType name="VariantLinkType_Ds">
    <xs:sequence>
      <xs:element name="DataLink" type="LinkType_Ds" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attributeGroup ref="VariantLinkGroup_ScFtDcDs"/>
  </xs:complexType>
      <!-- ++ VariantLinks attributes ++ -->
  <xs:attributeGroup name="VariantLinkGroup_Common">
    <xs:attribute name="DDTVariant" type="xs:string" use="required" />
    <xs:attribute name="EVariantName" type="xs:string" use="optional" />
  </xs:attributeGroup>
  <xs:attributeGroup name="VariantLinkGroup_RdWtIoRtSrEx">
    <xs:attributeGroup ref="VariantLinkGroup_Common"/>
    <xs:attribute name="Constraints" type="xs:string" />
    <xs:attribute name="Conformity" type="xs:string" />
  </xs:attributeGroup>
  <xs:attributeGroup name="VariantLinkGroup_ScFtDcDs">
    <xs:attributeGroup ref="VariantLinkGroup_Common"/>
  </xs:attributeGroup>
  <!-- ********************************** -->
  <!-- **** Links (DataLink, RqLink) **** -->
  <!-- ********************************** -->
    <!-- ++ Links elements ++ -->
      <!-- Data & Rsp Link -->
  <xs:complexType name="LinkType_RdWtIoRtSrEx">
    <xs:attributeGroup ref="LinkGroup_RdWtIoRtSrEx"/>
  </xs:complexType>
  <xs:complexType name="LinkType_Ft">
    <xs:attributeGroup ref="LinkGroup_Ft"/>
  </xs:complexType>
  <xs:complexType name="LinkType_Dc">
    <xs:attributeGroup ref="LinkGroup_Dc"/>
  </xs:complexType>
  <xs:complexType name="LinkType_Ds">
    <xs:attributeGroup ref="LinkGroup_Ds"/>
  </xs:complexType>
      <!-- RqLinks -->
  <xs:complexType name="RqLinkType_Sc">
    <xs:attributeGroup ref="LinkGroup_Sc"/>
  </xs:complexType>
    <!-- ++ Links attributes ++ -->
      <!-- LinkGroup_Common: Subname + DDTLink -->
  <xs:attributeGroup name="LinkGroup_Common">
    <xs:attribute name="Subname" type="xs:string" use="required"/>
    <xs:attribute name="DDTLink" type="xs:string" use="required"/>
  </xs:attributeGroup>
      <!-- LinkGroup_DdtRqLink: LinkGroup_Common + DDTRqLink -->
  <xs:attributeGroup name="LinkGroup_DdtRqLink">
    <xs:attributeGroup ref="LinkGroup_Common"/>
    <xs:attribute name="DDTRQLink" type="xs:string" use="required"/>
  </xs:attributeGroup>
      <!-- LinkGroup_Ds: LinkGroup_DdtRqLink + SN -->
  <xs:attributeGroup name="LinkGroup_Ds">
    <xs:attributeGroup ref="LinkGroup_DdtRqLink"/>
    <xs:attribute name="SN" type="xs:string" use="required"/>
  </xs:attributeGroup>
      <!-- LinkGroup_RdWtIoRtSrEx: LinkGroup_Ds + DefaultValue, Constraints, Conformity, Operator -->
  <xs:attributeGroup name="LinkGroup_RdWtIoRtSrEx">
    <xs:attributeGroup ref="LinkGroup_Ds"/>
    <xs:attribute name="DefaultValue" type="xs:string" use="optional"/>
    <xs:attribute name="Constraints" type="xs:string" use="optional"/>
    <xs:attribute name="Conformity" type="xs:string" use="optional"/>
    <xs:attribute name="Operator" type="xs:string" use="optional"/>
  </xs:attributeGroup>
      <!-- LinkGroup_Sc: LinkGroup_Ds + Time -->
  <xs:attributeGroup name="LinkGroup_Sc">
    <xs:attributeGroup ref="LinkGroup_Ds"/>
    <xs:attribute name="Time" type="TimeOrEmpty" use="required"/>
  </xs:attributeGroup>
      <!-- LinkGroup_Dc: LinkGroup_DdtRqLink + SNRead, SNWrite, DefaultValue, ForcedValue-->
  <xs:attributeGroup name="LinkGroup_Dc">
    <xs:attributeGroup ref="LinkGroup_DdtRqLink"/>
    <xs:attribute name="SNRead" type="xs:string" use="required"/>
    <xs:attribute name="SNWrite" type="xs:string" use="required"/>
    <xs:attribute name="DefaultValue" type="xs:string" use="optional"/>
    <xs:attribute name="ForcedValue" type="xs:string" use="optional"/>
  </xs:attributeGroup>
      <!-- LinkGroup_Ft: LinkGroup_Common + ID_DTC, DTC_FT, SN, Constraints, Conformity-->
  <xs:attributeGroup name="LinkGroup_Ft">
    <xs:attributeGroup ref="LinkGroup_Common"/>
    <xs:attribute name="ID_DTC" type="xs:string" use="required"/>
    <xs:attribute name="DTC_FT" type="xs:string" use="required"/>
    <xs:attribute name="SN" type="xs:string" use="required"/>
    <xs:attribute name="Constraints" type="xs:string" use="optional"/>
    <xs:attribute name="Conformity" type="xs:string" use="optional"/>
  </xs:attributeGroup>

  <!-- **************** -->
  <!-- **** UNIONS **** -->
  <!-- **************** -->
    <!-- ++ Common ++ -->
  <xs:simpleType name="EmptyString">
    <xs:restriction base="xs:string">
      <xs:enumeration value=""/>
    </xs:restriction>
  </xs:simpleType>
    <!-- ++ DATE ++ -->
  <xs:simpleType name="DateTimeOrEmpty">
    <xs:union memberTypes="xs:dateTime EmptyString"/>
  </xs:simpleType>
    <!-- ++ Time ++ -->
  <xs:simpleType name="TimeOrEmpty">
    <xs:union memberTypes="xs:unsignedShort EmptyString"/>
  </xs:simpleType>
    <!-- ++ Not empty string ++ -->
  <xs:simpleType name="notEmptyAttribute">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>
