EcuSourceCode/DDT2000 dec 2023/DDT2000data/OdxSpecFiles/SFT/X82ph2/BaseLabels_Mappages.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
<element name="BaseLabel">
	<complexType>
	<sequence>
		<element name="DiagResources" maxOccurs="unbounded">
		<complexType>
			<sequence>
			<element name="Label" type="string"/>
			<element name="Ressource" type="string"/>
			<element name="LabelName" type="string"/>
			<element name="Description" type="string"/>
			<element name="Conditions" type="string"/>
			<element name="ECU" type="string"/>
			<element name="DTC_FT" type="string"/>
			<element name="DID_DTC" type="string"/>
			</sequence>
		</complexType>
		</element>
	</sequence>
	</complexType>
</element>
</schema>
